@model PaginationProperties
@{
    var prevDisabled = !Model.HasPreviousPage ? "d-none" : "";
    var nextDisabled = !Model.HasNextPage ? "d-none" : "";
}
<div class="row">
    <div class="col-sm-12 paging downloadpaging" id="paging">
        <div>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-showDisabled="@ViewBag.ShowDisabled"
               class="fa fa-arrow-left pagearrow @prevDisabled"
               aria-hidden="true">
            </a>
        </div>

        <ul>
            @for (var Page = Math.Max(Model.PageIndex - 2, 1); Page < Math.Min(Model.PageIndex + 2, Model.TotalPages); Page++)
            {
                <li>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-page="@Page"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-showDisabled="@ViewBag.ShowDisabled"
                       class="btn btn-default @(Page == Model.PageIndex ? "disabled" : "")">
                        @Page
                    </a>
                </li>
            }
        </ul>
        <div>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-showDisabled="@ViewBag.ShowDisabled"
               class="fa fa-arrow-right pagearrow @nextDisabled"
               aria-hidden="true">
            </a>
        </div>
    </div>
</div>
