@model IEnumerable<Download>

@{
    ViewData["Title"] = "Verwijderde downloads";
}

<h2>@ViewBag.Title</h2>

<div class="dashboard-buttons mb-3">
    <a asp-action="Index" class="dashboard-button" id="create-item">
        Terug naar downloads
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfDownloads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.Enabled ? "" : "disabled")">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfDownloads)
                </td>
                <td>
                    <time datetime="@item.Date.ToString("yyyy-MM-dd'T'HH:mm:ssZ")">@item.Date.ToString()</time>
                </td>
                <td>
                    <a href="@item.LinkPath" download>
                        @Html.DisplayFor(modelItem => item.Filename)
                    </a>
                </td>
                <td>
                    <a asp-action="Restore" asp-route-id="@item.Id" onclick="return confirm('Weet u zeker dat u de download wilt restoren?')">Restore</a>
                </td>
            </tr>
        }
    </tbody>
</table>
