@model DownloadViewModel
@{
    ViewData["Title"] = "Downloads";
    
}

<h2>@ViewBag.Title</h2>

@Html.Partial("IndexButtonsPartial", Model.DownloadsWithoutTranslation)

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => new Download().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Download().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Download().AmountOfDownloads)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Download().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Download().Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => new Download().Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DownloadsList)
        {
            <tr class="@(item.Enabled ? "" : "disabled")">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfDownloads)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a href="@item.LinkPath" download>
                        @Html.DisplayFor(modelItem => item.Filename)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    <a asp-action="@(item.Language == "en" ? "TranslationEdit" : "Edit")" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ToggleEnable" asp-route-id="@item.Id">@(item.Enabled ? "Disable" : "Enable")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
