@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer
@{
    var returnUri = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var lang = Context?.Features?.Get<IRequestCultureFeature>()?.RequestCulture?.Culture?.TwoLetterISOLanguageName ?? "nl";
}

<header class="d-block">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="The Consultancy Firm" class="logo navbar-brand" /></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu-bars-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span>Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="lang-select">
                <li>
                    @if (lang == "en")
                    {
                        <a href="@Url.Action("SetLanguage", "Language", new {culture = "nl-NL", returnUrl = returnUri})">Nederlands</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SetLanguage", "Language", new {culture = "en-US", returnUrl = returnUri})">English</a>
                    }
                </li>
            </ul>

            <div class="navbar-content">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" active-controller="Cases" asp-controller="Cases" asp-action="Index" data-title="@Localizer["cases_header"]">@Localizer["cases_header"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" active-controller="Solutions" asp-controller="Solutions" asp-action="Index" data-title="@Localizer["solutions_header"]">@Localizer["solutions_header"]</a>
                    </li>
                </ul>
                <ul class="navbar-nav overflow">
                    <li class="nav-item">
                        <a class="nav-link" active-controller="About" asp-controller="About" asp-action="Index" data-title="@Localizer["about_header"]">@Localizer["about_header"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" active-controller="NewsItems" asp-controller="NewsItems" asp-action="Index" data-title="@Localizer["news_header"]">@Localizer["news_header"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" active-controller="Downloads" asp-controller="Downloads" asp-action="Index" data-title="@Localizer["downloads_header"]">@Localizer["downloads_header"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" active-controller="Contact" asp-controller="Contact" asp-action="Index" data-title="@Localizer["contact_header"]">@Localizer["contact_header"]</a>
                    </li>
                </ul>

                <form asp-controller="Search" asp-action="Index" class="form-inline my-2 my-lg-0 mx-3 search" method="get">
                    <div class="searchbox">
                        <input class="form-control mr-sm-2" type="search" name="q" placeholder="@Localizer["search_placeholder"]" tabindex="-1">
                        <i class="fa fa-times"></i>
                    </div>

                    <button class="my-2 my-sm-0" type="submit" tabindex="-1">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <div class="menu-toggle d-none d-lg-block">
                    <div class="menu-bars-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>@Localizer["menu_header"]</span>
                </div>
            </div>
        </div>
    </nav>
</header>
