@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="newsletter" class="container-fluid">
    <div>
        <h2>
            @Localizer["newsletter_caption"]
        </h2>

        <p>
            @Localizer["newsletter_introtext"]
        </p>

        <noscript>
            @* TODO: Also allow subscribe to newsletter via form post instead of ajax. *@
            <p>You need to enable javascript in order to subscribe for our newsletter.</p>
        </noscript>

        <form id="newsletterForm" method="post">
            <input type="text" name="Email" placeholder="@Localizer["newsletter_placeholder"]" data-container="body" data-toggle="popover" data-placement="left" data-content="@Localizer["newsletter_invalid_email"]">
            <button type="submit">@Localizer["newsletter_button"]<img src="~/images/right-arrow-black.svg" alt="laad niet" class="arrow"></button>
        </form>
    </div>
</div>
