@inject IViewLocalizer Localizer
<div class="container-fluid">
    <div class="row" id="serviceouterdiv">
        <div class="col-lg-6 servicepanel">
            <h3>
                @Localizer["services_partial_title"]
            </h3>
            <div class="service">
                <a href="#">
                    <h5>
                        @Localizer["translate_your_business"]
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        @Localizer["open_source"]
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        @Localizer["premium_care"]
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        @Localizer["always_security_and_privacy"]
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        @Localizer["Trainingen"]
                    </h5>
                </a>
            </div>
        </div>
    </div>
</div>
