@inject IViewLocalizer Localizer
<div class="ultimate-journey">
    <div class="row">
        <div class="col">
            <h2 class="title">@Localizer["your_guide_title"]</h2>
            <ul class="nav" id="ujTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="#uj-what" data-title="Wat is het?" data-toggle="tab">@Localizer["what_is_it"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#uj-why" data-title="Waarom belangrijk?" data-toggle="tab">@Localizer["why_important"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#uj-us" data-title="Waarom moet je bij TCF zijn?" data-toggle="tab">@Localizer["why_tcf"]</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="row tab-pane" id="uj-what" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>@Localizer["meet_and_advice"]</h4>

                <p class="description">
                    @Localizer["what_first_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["implementation_advice"]</h4>

                <p class="description">
                    @Localizer["second_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["management_support"]</h4>

                <p class="description">
                    @Localizer["thirth_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>

        <div class="row tab-pane active" id="uj-why" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>@Localizer["meet_and_advice"]</h4>

                <p class="description">
                    @Localizer["what_first_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["implementation_advice"]</h4>

                <p class="description">
                    @Localizer["second_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["management_support"]</h4>

                <p class="description">
                    @Localizer["thirth_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>

        <div class="row tab-pane" id="uj-us" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>@Localizer["meet_and_advice"]</h4>

                <p class="description">
                    @Localizer["what_first_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["implementation_advice"]</h4>

                <p class="description">
                    @Localizer["second_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>

                <h4>@Localizer["management_support"]</h4>

                <p class="description">
                    @Localizer["thirth_desc"]
                </p>

                <a href="#">@Localizer["more"]</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>
    </div>
</div>
