@inject IViewLocalizer Localizer
@model List<Solution>
@{
    ViewData["Title"] = "Solutions";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Solutions</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>@Localizer["seamless"]</h2>
            <p class="mt-4 mb-5 introtext">
                @Localizer["tcf_offers"]
            </p>
        </div>
    </div>
</div>

<div class="container container-wide">
    <div class="row" id="solutionOuter">
        @foreach (var solution in Model)
        {
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-img-top" alt="Card image cap" style="background-image: url(@solution.PhotoPath)"></div>
                    <div class="card-body">
                        <h4 class="card-title">@solution.Title</h4>
                        <p class="card-text">
                            @solution.Summary
                        </p>
                        <a asp-controller="Solutions" asp-action="Details" class="buttonHover" asp-route-id="@solution.Slug">@Localizer["read_more"]</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("ServicesWeOfferPartial")
@Html.Partial("NewsLetterPartial")
