@model Case

@{
    ViewData["Title"] = "Verwijder";
}

<h2>@ViewBag.Title</h2>

<h3>Weet je zeker dat je dit item wilt verwijderen?</h3>
<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            <time datetime="@Model.Date.ToString("yyyy-MM-dd'T'HH:mm:ssZ")">@Model.Date.ToString()</time>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd>
            <time datetime="@Model.LastModified.ToString("yyyy-MM-dd'T'HH:mm:ssZ")">@Model.LastModified.ToString()</time>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder" class="btn btn-secondary" /> |
        <a asp-action="Index">Terug naar delijst</a>
    </form>
</div>
