@model IEnumerable<TheConsultancyFirm.Models.Case>

@{
    ViewData["Title"] = "Cases";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create">Nieuwe Toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModified)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    int count= Model.Count();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @{
                DateTime d1 = item.Date;
                long unixTimestampCreated = ((DateTimeOffset)d1).ToUnixTimeSeconds();
            }
            <td>
                <div>
                    <input class="dateCreated" type="hidden" value="@unixTimestampCreated" runat="server" />
                    <input id="count" type="hidden" value="@count" runat="server" />
                </div>
                <p class="created">@unixTimestampCreated</p>
            </td>
            @{
                DateTime d2 = item.LastModified;
                long unixTimestamp = ((DateTimeOffset)d2).ToUnixTimeSeconds();
            }
            <td >
                <div>
                    <input class="date" type="hidden" value="@unixTimestamp" runat="server" />
                    <input id="count" type="hidden" value="@count" runat="server" />
                </div>
                <p class="lastModified">@unixTimestamp</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id="@item.Id" target="_blank">Bekijken</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="localdates.js"></script>
