@model CaseViewModel

@{
    ViewData["Title"] = "Cases";
    var pagination = new PaginationProperties
    {
        PageIndex = Model.CasesList.PageIndex,
        TotalPages = Model.CasesList.TotalPages,
        HasNextPage = Model.CasesList.HasNextPage,
        HasPreviousPage = Model.CasesList.HasPreviousPage
    };
}

<h2>@ViewBag.Title</h2>

@Html.Partial("IndexButtonsPartial", Model.CasesWithoutTranslation)
<form asp-action="Index" method="get">
    <div class="row mb-3 mt-3">
        <div class="col-4">
            <input type="hidden" value="@ViewBag.ShowDisabled.ToString()" name="showDisabled" />

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="txtSearch" name="SearchString" value="@ViewData["currentFilter"]"/>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Title</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Date</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["LastModifiedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Last Modified</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => new Case().Language)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CasesList) {
    int count = Model.CasesList.Count();
        <tr class="@(item.Enabled ? "" : "disabled")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @{
                DateTime d1 = item.Date;
                var unixTimestampCreated = d1.ToString();

            }
            <td>
                <div>
                    <input class="dateCreated" type="hidden" value="@unixTimestampCreated" runat="server" />
                    <input id="count" type="hidden" value="@count" runat="server" />
                </div>
                <p class="created">@unixTimestampCreated</p>
            
            </td>
            @{
                DateTime d2 = item.LastModified;
                var unixTimestamp = d2.ToString();
            }
            <td>
                <div>
                    <input class="date" type="hidden" value="@unixTimestamp" runat="server" />
                    <input id="count" type="hidden" value="@count" runat="server" />
                </div>
                <p class="lastModified">@unixTimestamp</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-action="@(item.Language == "en" ? "TranslationEdit" : "Edit")" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id="@item.Id" target="_blank">Bekijken</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a> |
                <a asp-action="ToggleEnable" asp-route-id="@item.Id">@(item.Enabled ? "Disable" : "Enable")</a>

            </td>
        </tr>
    }
    </tbody>
</table>
<script src="localdates.js"></script>
