@model PaginatedList<TheConsultancyFirm.Models.Case>

@{
    ViewData["Title"] = "Cases";

}

<h2>@ViewBag.Title</h2>

@Html.Partial("IndexButtonsPartial")
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="showDisabled" value="@ViewBag.ShowDisabled.ToString()"/>
            Find by title: <input type="text" name="SearchString" value="@ViewData["currentFilter"]"/>
            <input type="submit" value="Search" class="btn btn-default"/> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Title</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastModifiedSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-showDisabled="@ViewBag.ShowDisabled">Last Modified</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.Enabled ? "" : "disabled")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id="@item.Id" target="_blank">Bekijken</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a> |
                <a asp-action="ToggleEnable" asp-route-id="@item.Id">@(item.Enabled ? "Disable" : "Enable")</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-showDisabled="@ViewBag.ShowDisabled"
   class="btn btn-default @prevDisabled">
    <
</a>
@{if (Model.PageIndex - 2 > 0)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 2)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-showDisabled="@ViewBag.ShowDisabled"
           class="btn btn-default">
            @(Model.PageIndex - 2)
        </a>
    }
}
@{if (Model.HasPreviousPage)
    {
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-showDisabled="@ViewBag.ShowDisabled"
   class="btn btn-defaul">
    @(Model.PageIndex - 1)
</a>
    }
    }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-showDisabled="@ViewBag.ShowDisabled"
   class="btn btn-default disabled">
    @(Model.PageIndex)
</a>
@{if (Model.HasNextPage)
    {
<a asp-action="Index"
asp-route-sortOrder="@ViewData["CurrentSort"]"
asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-showDisabled="@ViewBag.ShowDisabled"
class="btn btn-default">
@(Model.PageIndex + 1)
</a>
        }
    }
@{if (Model.PageIndex + 2 <= Model.TotalPages)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 2)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           asp-route-showDisabled="@ViewBag.ShowDisabled"
           class="btn btn-default">
            @(Model.PageIndex + 2)
        </a>
    }
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-showDisabled="@ViewBag.ShowDisabled"
   class="btn btn-default @nextDisabled">
    >
</a>
