@model CaseDetailViewModel
@{
    ViewBag.Title = Model.CaseItem.Title;
    Layout = "_Layout";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Cases" asp-action="Index">Cases</a></li>
    <li class="breadcrumb-item active">@Model.CaseItem.Customer.Name</li>
</ol>

<header class="pageheader" style="background-image: url(@Url.Content("~" + Model.CaseItem.PhotoPath))">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-9">
                <h4>@Model.CaseItem.Customer.Name</h4>
                <h1>@Model.CaseItem.Title</h1>
            </div>
        </div>
    </div>
</header>

<div class="casedetail content">
    @foreach (var block in Model.CaseItem.Blocks.OrderBy(b => b.Order))
    {
        @await Component.InvokeAsync("Block", block)
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="sharing">
                <span class="introtext">
                    <i class="fa fa-share-alt"></i>
                    share
                </span>

                <a href="#" class="share-link fa fa-linkedin"></a>
                <a href="#" class="share-link fa fa-twitter"></a>
                <a href="#" class="share-link fa fa-google-plus"></a>
                <a href="#" class="share-link fa fa-facebook"></a>
                <a href="#" class="share-link fa fa-envelope"></a>
            </div>
        </div>
    </div>

    @Html.Partial("RelatedCasesPartial")
</div>

@if (Model.Next != null && Model.Previous != null)
{
    <div class="container-fluid extra-cases">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Andere cases</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 case" style="background-image:url(/images/foto1.png)">
                <p class="subtitle"> @Model.Previous.Customer.Name</p>
                <h3 class="title">@Model.Previous.Title</h3>
                <a href="#" class="buttonHover">VORIGE CASE</a>
            </div>

            <div class="col-12 col-md-6 case" style="background-image: url(/images/foto1.png)">
                <p class="subtitle">@Model.Next.Customer.Name</p>
                <h3 class="title">@Model.Next.Title</h3>
                <a href="#" class="buttonHover">VOLGENDE CASE</a>
            </div>
        </div>
    </div>
}
