@inject IViewLocalizer Localizer
@model List<Case>
@{
    ViewBag.Title = "Case overview";
    Layout = "_Layout";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Cases</li>
</ol>
<div class="container-fluid fluidpadding">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="caseoverview" style="background-image: url(@item.PhotoPath);">
                <div class="innercaseoverview flexcase">
                    <h4>@item.Customer.Name</h4>
                    <h1>
                        @item.Title
                    </h1>
                    <a class="buttonHover" asp-controller="Cases" asp-action="Details" asp-route-id="@item.Slug">@Localizer["see_case"]</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="container-fluid" id="casecustomers">
    <div class="introtext">
        <h2>@Localizer["our_customers"]</h2>
        @Localizer["except_above"]
    </div>
    <div class="row logos">
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/achmea.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/centraalbeheer.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/fbto.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/interpolis.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/avero.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/inshared.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/ohra.png" />
        </div>
        <div class="col-6 col-md-3">
            <img class="image" src="~/images/CustomerLogos/deltalloyd.png" />
        </div>
    </div>
</div>
@Html.Partial("NewsLetterPartial")
