@model IEnumerable<TheConsultancyFirm.Models.Vacancy>

@{
    ViewData["Title"] = "Vacatures";
}

<h2>@ViewBag.Title</h2>


@Html.Partial("IndexButtonsPartial")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunctionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacancySince)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FunctionDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacancySince)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
