@model NewsItem

@{
    ViewData["Title"] = Model?.Title + " - Aanpassen";
}

<h2>@ViewBag.Title</h2>

<div class="d-flex align-items-baseline">
    <h4>Case</h4>
    <small class="text-muted ml-2">
        <a asp-area="" asp-controller="Cases" asp-action="Details" asp-route-id="@Model.Id" target="_blank" title="Opent in een nieuw tabblad">
            Bekijk op de website
        </a>
    </small>
</div>
<hr />

<form asp-action="Edit" class="blocks-form" id="updateNewsItem" enctype="multipart/form-data" data-type="NewsItem">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Titel" />
                        <span asp-validation-for="Title" class="invalid-feedback d-block"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <div class="custom-file">
                            <input class="custom-file-input" asp-for="Image">
                            <label class="custom-file-label" asp-for="Image">Choose file</label>
                        </div>
                        <span asp-validation-for="Image" class="invalid-feedback d-block"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TagIds"></label>
                        <select asp-for="TagIds" class="form-control select2" data-ajax--url="@Url.Action("Autocomplete", "Tags")"
                                data-close-on-select="false" data-placeholder="Select related tags">
                            @foreach (var tag in Model.NewsItemTags)
                            {
                                <option value="@tag.TagId" selected>@tag.Tag.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label>Current</label>
            @if (!string.IsNullOrEmpty(Model.PhotoPath))
            {
                <img class="img-fluid" src="@Model.PhotoPath" />
            }
        </div>
    </div>
</form>

@*<h4>NewsItem</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhotoPath" class="control-label"></label>
                    <input asp-for="PhotoPath" class="form-control" />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastModified" class="control-label"></label>
                    <input asp-for="LastModified" class="form-control" />
                    <span asp-validation-for="LastModified" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<h4>Content items</h4>
<div id="blocksList">
    @foreach (var block in Model.Blocks.OrderBy(b => b.Order))
    {
        @await Component.InvokeAsync("Block", block)
    }
</div>

<div class="row mt-3">
    <div class="col-12">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#chooseBlockModal" type="button">Voeg item toe</button>
    </div>
</div>

<div class="savebar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a asp-action="Index">Terug naar de lijst</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <small class="text-muted mr-3" id="statusText"></small>
                <input type="submit" value="Opslaan" class="btn btn-secondary" data-blocks-submit="#updateCase" />
            </div>
        </div>
    </div>
</div>

@Html.Partial("BlockChoiceModalPartial")
