@model IEnumerable<NewsItem>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-action="Create">Create New</a>
    @if (ViewBag.ShowDisabled)
    {
        <a asp-action="Index">Hide disabled</a>

    }
    else
    {
        <a href="@Url.Action("Index", new { showDisabled = true })">Show disabled</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModified)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.Enabled ? "" : "disabled")">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                <a asp-area="" asp-controller="NewsItems" asp-action="Details" asp-route-id="@item.Id" target="_blank">Bekijken</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
