@inject IViewLocalizer Localizer
@model DownloadsViewModel
@{
    ViewBag.Title = "Downloads";
    Layout = "_Layout";
    var pagination = new PaginationProperties
    {
        PageIndex = Model.AllDownloads.PageIndex,
        TotalPages = Model.AllDownloads.TotalPages,
        HasNextPage = Model.AllDownloads.HasNextPage,
        HasPreviousPage = Model.AllDownloads.HasPreviousPage
    };
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">@Localizer["downloads"]</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>@Localizer["downloads"]</h2>
            <p class="introtext">
                @Localizer["tcf_offers"]
            </p>
        </div>
    </div>
    @if (Model.Selected != null)
    {
        <div class="row outerdownload">
            <div class="col-sm-5 downloadtag">
                <h4>
                    @Localizer["selected_download"]
                </h4>
            </div>
            <div class="col-sm-7 downloadinformation">
                <h3>
                    @Model.Selected.Title
                </h3>
                <p>
                    @Model.Selected.Date.ToString("dd MMMM yyyy")
                </p>
                <p>
                    @Model.Selected.Description
                </p>
                <a href="@Model.Selected.LinkPath" onclick="LogDownload(@Model.Selected.Id)" download data-id="@Model.Selected.Id">
                    <img src="~/images/download-from-cloud.svg" alt="download" class="downloadsvg">
                    @Localizer["download"]
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="row outerdownload">
            <div class="col-sm-5 downloadtag">
                <h4>
                    @Localizer["newest_publication"]
                </h4>
            </div>
            <div class="col-sm-7 downloadinformation">
                <h3>
                    @Model.MostRecent.Title
                </h3>
                <p>
                    @Model.MostRecent.Date.ToString("dd MMMM yyyy")
                </p>
                <p>
                    @Model.MostRecent.Description
                </p>
                <a href="@Model.MostRecent.LinkPath" onclick="LogDownload(@Model.MostRecent.Id)" download data-id="@Model.MostRecent.Id">
                    <img src="~/images/download-from-cloud.svg" alt="download" class="downloadsvg">
                    @Localizer["download"]
                </a>
            </div>
        </div>
        <div class="row outerdownload">
            <div class="col-sm-5 downloadtag">
                <h4>
                    @Localizer["most_downloaded"]
                </h4>
            </div>
            <div class="col-sm-7 downloadinformation">
                <h3>
                    @Model.MostDownloaded.Title
                </h3>
                <p>
                    @Model.MostDownloaded.Date.ToString("dd MMMM yyyy")
                </p>
                <p>
                    @Model.MostDownloaded.Description
                </p>
                <a href="@Model.MostDownloaded.LinkPath" onclick="LogDownload(@Model.MostDownloaded.Id)" download>
                    <img src="~/images/download-from-cloud.svg" alt="download" class="downloadsvg">
                    @Localizer["download"]
                </a>
            </div>
        </div>
    }

    <div class="row outerdownload">
        <div class="col-sm-5 downloadtag">
            <h4>
                @Localizer["all_downloads"]
            </h4>
        </div>
        <div class="col-sm-7 downloadinformation">
            <h3>
                @Model.AllDownloads.FirstOrDefault()?.Title
            </h3>
            <p>
                @Model.AllDownloads.FirstOrDefault()?.Date.ToString("dd MMMM yyyy")
            </p>
            <p>
                @Model.AllDownloads.FirstOrDefault()?.Description
            </p>
            <a href="@Model.AllDownloads.FirstOrDefault()?.LinkPath" onclick="LogDownload(@Model.AllDownloads.FirstOrDefault()?.Id)" download>
                <img src="~/images/download-from-cloud.svg" alt="download" class="downloadsvg">
                @Localizer["download"]
            </a>
        </div>
    </div>
    @foreach (var item in Model.AllDownloads.Skip(1))
    {
        <div class="row outerdownload">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7 downloadinformation">
                <h3>
                    @item.Title
                </h3>
                <p>
                    @item.Date.ToString("dd MMMM yyyy")
                </p>
                <p>
                    @item.Description
                </p>
                <a href="@item.LinkPath" onclick="LogDownload(@item.Id)" download>
                    <img src="~/images/download-from-cloud.svg" alt="download" class="downloadsvg">
                    @Localizer["download"]
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-7">
            @Html.Partial("PaginationPartial", pagination)
        </div>
    </div>
</div>
@Html.Partial("NewsLetterPartial")
