@model NewsItemDetailViewModel
@{
    ViewBag.Title = Model.NewsItem.Title;
    Layout = "_Layout";
    var image = Model.NewsItem.PhotoPath;
    var imageUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{image}";
    var link = $"{Context.Request.Scheme}://{Context.Request.Host}/newsitems/{Model.NewsItem.Id}";
}

@section metatags
{
    <meta property="og:title" content="@Model.NewsItem.Title"/>
    <meta property="og:image" content="@imageUrl"/>
    <meta property="og:description" content="@Model.NewsItem.SharingDescription"/>
    <meta property="og:url" content="@link"/>
    <meta name="twitter:card" content="summary" />
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="NewsItems" asp-action="Index">Nieuws</a>
    </li>
    <li class="breadcrumb-item active">@Model.NewsItem.Title</li>
</ol>

<div class="container-fluid fluidpadding">
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <div class="col-lg-4" style="background-image: url(@image)" id="newsdetailimage">

            </div>
        }
        else
        {
            <div class="col-lg-2" id="newsdetailimage">

            </div>
        }

        <div class="col-lg-8" id="newsdetail">
            @foreach (var block in Model.NewsItem.Blocks.OrderBy(b => b.Order))
            {
                @await Component.InvokeAsync("Block", block)
            }
            @Html.Partial("SharingPartial", link)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>
<div class="container related">
    @Html.Partial("RelatedCasesPartial", Model.ContentItems)
</div>
